@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Lexend';
  src: url('/fonts/Lexend-Regular.woff2') format('woff2');
  font-weight: 400;
}

@font-face {
  font-family: 'Lexend';
  src: url('/fonts/Lexend-Medium.woff2') format('woff2');
  font-weight: 500;
}

@font-face {
  font-family: 'Lexend';
  src: url('/fonts/Lexend-SemiBold.woff2') format('woff2');
  font-weight: 600;
}

@font-face {
  font-family: 'Lexend';
  src: url('/fonts/Lexend-Bold.woff2') format('woff2');
  font-weight: 700;
}

@font-face {
  font-family: 'PrachasornNeue';
  src: url('/fonts/PrachasonNeueLite-Regular.woff2') format('woff2');
  font-weight: 400;
}

@font-face {
  font-family: 'PrachasornNeue';
  src: url('/fonts/PrachasonNeueLite-Medium.woff2') format('woff2');
  font-weight: 500;
}

@font-face {
  font-family: 'PrachasornNeue';
  src: url('/fonts/PrachasonNeueLite-SemiBold.woff2') format('woff2');
  font-weight: 600;
}

@font-face {
  font-family: 'PrachasornNeue';
  src: url('/fonts/PrachasonNeueLite-Bold.woff2') format('woff2');
  font-weight: 700;
}


@layer base {
  :root {
    --foreground: 0 0 100;
    --background: 0 0 97;
    --primary: 0 0 20;
    --primary-foreground: 0 0 0;
    --secondary: 0 0 74;
    --secondary-foreground: 0 0 9;
    --tertiary: 0 0 89;
    --tertiary-foreground: 0 0 9;
    --quaternary: 0 0 94;
    --card-foreground: 0 0 3.9;
    --card: 0 0 100;
    --popover-foreground: 0 0 3.9;
    --popover: 0 0 100;
    --muted-foreground: 0 0 45.1;
    --muted: 0 0 96.1;
    --accent-foreground: 0 0 9;
    --accent: 0 0 96.1;
    --destructive-foreground: 0 0 98;
    --destructive: 0 84.2 60.2;
    --border: 0 0 89.8;
    --input: 0 0 89.8;
    --ring: 0 0 3.9;
    --chart-1: 12 76 61;
    --chart-2: 173 58 39;
    --chart-3: 197 37 24;
    --chart-4: 43 74 66;
    --chart-5: 27 87 67;
    --radius: 0.5rem;

    --freelanceman-general-red: #ff0000;
    --freelanceman-general-yellow: #ebbf38;
    --freelanceman-general-blue: #a0d9ef;

    --freelanceman-button-red: #ff0000;
    --freelanceman-button-green: #b5e550;
    --freelanceman-button-blue: #a0d9ef;
    --freelanceman-button-yellow: #ffea61;

    --freelanceman-theme-base: #e3e3e3;
    --freelanceman-theme-red: #f6c5c5;
    --freelanceman-theme-orange: #ffd7b5;
    --freelanceman-theme-yellow: #ffffb7;
    --freelanceman-theme-green: #c9df8a;
    --freelanceman-theme-blue: #b3cde0;
    --freelanceman-theme-purple: #deb7ff;
    --freelanceman-theme-pink: #ffc2cd;
    --freelanceman-theme-turquoise: #8bd9ef;
    --freelanceman-theme-magenta: #f9d2da;
    --freelanceman-theme-teal: #b2d8d8;
    --freelanceman-theme-olive: #b8e596;
    --freelanceman-theme-maroon: #dda6c3;
    --freelanceman-theme-beige: #fce5cd;
    --freelanceman-theme-coral: #ffb3a5;
    --freelanceman-theme-lavender: #d9c9ea;
    --freelanceman-theme-peach: #ffe7dc;
    --freelanceman-theme-mint: #9ddecb;
    --freelanceman-theme-bronze: #e6ddd2;
    --freelanceman-theme-taupe: #e7e1da;
    --freelanceman-theme-lilac: #eddff7;
    --freelanceman-theme-zinc: #e9e7e8;

    --freelanceman-status-active: #99dff9;
    --freelanceman-status-onhold: #f8ed62;
    --freelanceman-status-completed: #7be382;

    --freelanceman-deadline-soon: #ffb71a;
    --freelanceman-deadline-past: #ff0000;

    --freelanceman-document-invoice: #c9e9f6;
    --freelanceman-document-quotation: #ffc367;
    --freelanceman-document-receipt: #89e1c9;

    --freelanceman-constant-primary: 0 0 20;
    --freelanceman-constant-secondary: 0 0 74.1;
    --freelanceman-constant-tertiary: 0 0 92;
    --freelanceman-constant-quaternary: 0 0 96;
  }

  .dark {
    --foreground: 0 0 9.5;
    --background: 0 0 15;
    --primary: 0 0 89;
    --primary-foreground: 0 0 100;
    --secondary: 0 0 41;
    --secondary-foreground: 0 0 98;
    --tertiary: 0 0 23;
    --tertiary-foreground: 0 0 98;
    --quaternary: 0 0 20;
    --card: 0 0 3.9;
    --card-foreground: 0 0 98;
    --popover: 0 0 3.9;
    --popover-foreground: 0 0 98;
    --muted: 0 0 14.9;
    --muted-foreground: 0 0 63.9;
    --accent: 0 0 14.9;
    --accent-foreground: 0 0 98;
    --destructive: 0 62.8 30.6;
    --destructive-foreground: 0 0 98;
    --border: 0 0 14.9;
    --input: 0 0 14.9;
    --ring: 0 0 83.1;
    --chart-1: 220 70 50;
    --chart-2: 160 60 45;
    --chart-3: 30 80 55;
    --chart-4: 280 65 60;
    --chart-5: 340 75 55;

    --freelanceman-general-red: #dc0005;
    --freelanceman-general-yellow: #ffd400;
    --freelanceman-general-blue: #20a7db;

    --freelanceman-button-red: #dc0005;
    --freelanceman-button-green: #809c13;
    --freelanceman-button-blue: #20a7db;
    --freelanceman-button-yellow: #ffd400;

    --freelanceman-theme-red: #f68181;
    --freelanceman-theme-orange: #ffb38a;
    --freelanceman-theme-yellow: #fff192;
    --freelanceman-theme-green: #77ab59;
    --freelanceman-theme-blue: #6497b1;
    --freelanceman-theme-purple: #c785ec;
    --freelanceman-theme-pink: #ff6289;
    --freelanceman-theme-turquoise: #3ec1d5;
    --freelanceman-theme-magenta: #f19eb1;
    --freelanceman-theme-teal: #66b2b2;
    --freelanceman-theme-olive: #7fc73e;
    --freelanceman-theme-maroon: #c17fa0;
    --freelanceman-theme-beige: #dcc5ad;
    --freelanceman-theme-coral: #ff664b;
    --freelanceman-theme-lavender: #bfa4dc;
    --freelanceman-theme-peach: #ffc0a1;
    --freelanceman-theme-mint: #58a58e;
    --freelanceman-theme-bronze: #b59a79;
    --freelanceman-theme-taupe: #bfaf9c;
    --freelanceman-theme-lilac: #d3afe8;
    --freelanceman-theme-zinc: #a8a1a1;

    --freelanceman-status-active: #33bef2;
    --freelanceman-status-onhold: #dab600;
    --freelanceman-status-completed: #22b600;

    --freelanceman-deadline-soon: #ffb71a;
    --freelanceman-deadline-past: #ff0000;

    --freelanceman-document-invoice: #45b3e0;
    --freelanceman-document-quotation: #ff7400;
    --freelanceman-document-receipt: #6eba9e;
  }

  body {
    @apply text-primary;
    @apply text-base;
  }
}


.rdp-root {
  --rdp-accent-color: hsl(0, 0%, 70%);
  /* The accent color used for selected days and UI elements. */
  --rdp-accent-background-color: var(--primary);
  /* The accent background color used for selected days and UI elements. */

  --rdp-day-height: 2.25rem;
  /* The height of the day cells. */
  --rdp-day-width: 2.25rem;
  /* The width of the day cells. */

  --rdp-day_button-border-radius: 100%;
  /* The border radius of the day cells. */
  --rdp-day_button-border: 2px solid transparent;
  /* The border of the day cells. */
  --rdp-day_button-height: var(--rdp-day-height);
  /* The height of the day cells. */
  --rdp-day_button-width: var(--rdp-day-width);
  /* The width of the day cells. */

  --rdp-selected-border: 2px solid var(--rdp-accent-color);
  /* The border of the selected days. */
  --rdp-disabled-opacity: 0.5;
  /* The opacity of the disabled days. */
  --rdp-outside-opacity: 0.75;
  /* The opacity of the days outside the current month. */
  --rdp-today-color: var(--rdp-accent-color);
  /* The color of the today's date. */

  --rdp-dropdown-gap: 0.5rem;
  /* The gap between the dropdowns used in the month captons. */

  --rdp-months-gap: 2rem;
  /* The gap between the months in the multi-month view. */

  --rdp-nav_button-disabled-opacity: 0.5;
  /* The opacity of the disabled navigation buttons. */
  --rdp-nav_button-height: 2.25rem;
  /* The height of the navigation buttons. */
  --rdp-nav_button-width: 2.25rem;
  /* The width of the navigation buttons. */
  --rdp-nav-height: 1.75rem;
  /* The height of the navigation bar. */

  --rdp-range_middle-background-color: var(--primary);
  /* The color of the background for days in the middle of a range. */
  --rdp-range_middle-foreground-color: white;
  /* The foregraound color for days in the middle of a range. */
  --rdp-range_middle-color: inherit;
  /* The color of the range text. */

  --rdp-range_start-color: white;
  /* The color of the range text. */
  --rdp-range_start-background: linear-gradient(var(--rdp-gradient-direction), transparent 50%, var(--rdp-range_middle-background-color) 50%);
  /* Used for the background of the start of the selected range. */
  --rdp-range_start-date-background-color: var(--rdp-accent-color);
  /* The background color of the date when at the start of the selected range. */

  --rdp-range_end-background: linear-gradient(var(--rdp-gradient-direction), var(--rdp-range_middle-background-color) 50%, transparent 50%);
  /* Used for the background of the end of the selected range. */
  --rdp-range_end-color: white;
  /* The color of the range text. */
  --rdp-range_end-date-background-color: var(--rdp-accent-color);
  /* The background color of the date when at the end of the selected range. */

  --rdp-week_number-border-radius: 100%;
  /* The border radius of the week number. */
  --rdp-week_number-border: 2px solid transparent;
  /* The border of the week number. */

  --rdp-week_number-height: var(--rdp-day-height);
  /* The height of the week number cells. */
  --rdp-week_number-opacity: 0.75;
  /* The opacity of the week number. */
  --rdp-week_number-width: var(--rdp-day-width);
  /* The width of the week number cells. */
  --rdp-weeknumber-text-align: center;
  /* The text alignment of the weekday cells. */

  --rdp-weekday-opacity: 0.75;
  /* The opacity of the weekday. */
  --rdp-weekday-padding: 0.5rem 0rem;
  /* The padding of the weekday. */
  --rdp-weekday-text-align: center;
  /* The text alignment of the weekday cells. */

  --rdp-gradient-direction: 90deg;
}

.rdp-root[dir="rtl"] {
  --rdp-gradient-direction: -90deg;
}

/* Root of the component. */
.rdp-root {
  position: relative;
  /* Required to position the navigation toolbar. */
  box-sizing: border-box;
}

.rdp-root * {
  box-sizing: border-box;
}

.rdp-day {
  width: var(--rdp-day-width);
  height: var(--rdp-day-height);
  text-align: center;
}

.rdp-day_button {
  background: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  font: inherit;
  color: inherit;
  justify-content: center;
  align-items: center;
  display: flex;

  width: var(--rdp-day_button-width);
  height: var(--rdp-day_button-height);
  border: var(--rdp-day_button-border);
  border-radius: var(--rdp-day_button-border-radius);
}

.rdp-day_button:disabled {
  cursor: revert;
}

.rdp-caption_label {
  z-index: 1;

  position: relative;
  display: inline-flex;
  align-items: center;

  white-space: nowrap;
  border: 0;
}

.rdp-button_next,
.rdp-button_previous {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  font: inherit;
  color: inherit;
  -moz-appearance: none;
  -webkit-appearance: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  appearance: none;

  width: var(--rdp-nav_button-width);
  height: var(--rdp-nav_button-height);
}

.rdp-button_next:disabled,
.rdp-button_previous:disabled {
  cursor: revert;

  opacity: var(--rdp-nav_button-disabled-opacity);
}

.rdp-chevron {
  display: inline-block;
  fill: var(--rdp-accent-color);
}

.rdp-root[dir="rtl"] .rdp-nav .rdp-chevron {
  transform: rotate(180deg);
}

.rdp-root[dir="rtl"] .rdp-nav .rdp-chevron {
  transform: rotate(180deg);
  transform-origin: 50%;
}

.rdp-dropdowns {
  position: relative;
  display: inline-flex;
  align-items: center;
  gap: var(--rdp-dropdown-gap);
}

.rdp-dropdown {
  z-index: 2;

  /* Reset */
  opacity: 0;
  appearance: none;
  position: absolute;
  inset-block-start: 0;
  inset-block-end: 0;
  inset-inline-start: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  cursor: inherit;
  border: none;
  line-height: inherit;
}

.rdp-dropdown_root {
  position: relative;
  display: inline-flex;
  align-items: center;
}

.rdp-dropdown_root[data-disabled="true"] .rdp-chevron {
  opacity: var(--rdp-disabled-opacity);
}

.rdp-month_caption {
  display: flex;
  align-content: center;
  height: var(--rdp-nav-height);
  font-weight: bold;
  font-size: large;
}

.rdp-months {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: var(--rdp-months-gap);
  max-width: fit-content;
}

.rdp-month_grid {
  border-collapse: collapse;
}

.rdp-nav {
  position: absolute;
  inset-block-start: 0;
  inset-inline-end: 0;

  display: flex;
  align-items: center;

  height: var(--rdp-nav-height);
}

.rdp-weekday {
  opacity: var(--rdp-weekday-opacity);
  padding: var(--rdp-weekday-padding);
  font-weight: 500;
  font-size: smaller;
  text-align: var(--rdp-weekday-text-align);
  text-transform: var(--rdp-weekday-text-transform);
}

.rdp-week_number {
  opacity: var(--rdp-week_number-opacity);
  font-weight: 400;
  font-size: small;
  height: var(--rdp-week_number-height);
  width: var(--rdp-week_number-width);
  border: var(--rdp-week_number-border);
  border-radius: var(--rdp-week_number-border-radius);
  text-align: var(--rdp-weeknumber-text-align);
}

/* DAY MODIFIERS */
.rdp-today:not(.rdp-outside) {
  color: var(--rdp-today-color);
}

.rdp-selected {
  font-weight: bold;
  font-size: large;
}

.rdp-selected .rdp-day_button {
  border: var(--rdp-selected-border);
}

.rdp-outside {
  opacity: var(--rdp-outside-opacity);
}

.rdp-disabled {
  opacity: var(--rdp-disabled-opacity);
}

.rdp-hidden {
  visibility: hidden;
  color: var(--rdp-range_start-color);
}

.rdp-range_start {
  background: var(--rdp-range_start-background);
}

.rdp-range_start .rdp-day_button {
  background-color: var(--rdp-range_start-date-background-color);
  color: var(--rdp-range_start-color);
}

.rdp-range_middle {
  background-color: var(--rdp-range_middle-background-color);
}

.rdp-range_middle .rdp-day_button {
  border-color: transparent;
  border: unset;
  border-radius: unset;
  color: var(--rdp-range_middle-color);
}

.rdp-range_end {
  background: var(--rdp-range_end-background);
  color: var(--rdp-range_end-color);
}

.rdp-range_end .rdp-day_button {
  color: var(--rdp-range_start-color);
  background-color: var(--rdp-range_end-date-background-color);
}

.rdp-range_start.rdp-range_end {
  background: revert;
}

.rdp-focusable {
  cursor: pointer;
}

[data-placeholder]:empty::before {
  content: attr(data-placeholder);
  color: #a0a0a0;
  /* Adjust placeholder color */
  pointer-events: none;
  display: block;
}